.App-logo{
  margin-top: 1vmin;
    height: 7vmin;
    pointer-events: none;
    color: black;
    animation: infinite 20s linear;

  }
  
@media (prefers-reduced-motion: no-preference) {
.App-logo {
      animation: App-logo-spin infinite 20s linear;
}
}
  
  
@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

.footer{
  padding: 0 5vh 0 10vh;
  border-top: black 3px solid;
    display: inline-flex;
    justify-content: space-between;
    height: 10vmin;
}

.divRight{
  display: inline-flex;
  justify-content: center;
}

.contact {
  height: 7vh;
  margin: 5px 20px  0 20px;
}

.contactDiv {
  display: inline-flex;
}