.app{
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./assets/sega.woff') format('woff');
    }